body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}
.parallax {
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;  
    align-items: center;  
}
    .parallax p{
        color: black;
        font-size: 20px;
    }
.parallax-1 {
    background-image: url('https://www.ms-design.com/fileadmin/userdaten/content/Aktuelles_992-GT3-RS_1.jpg');
}
.parallax-2 {
    background-image: url('https://en.endurance-info.com/sites/default/files/styles/image_richtext/public/2023-03/AbsoluteRacing2023_Porsche992GT3R_GTWCA_V2_1.png?itok=BWJKwBTm');
}
.content {
    padding: 100px;
    text-align: center;
    background-color: black;
    color: white;
}

h1 {
    font-size: 50px;
}